<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272601085394-t0gn0kvpnes91n8b5tva3hhtqvmc829q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272601085394-t0gn0kvpnes91n8b5tva3hhtqvmc829q</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3Mv5rpi-j7ysmb8LVGsdZMwJKLjH8bo</string>
	<key>GCM_SENDER_ID</key>
	<string>272601085394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applicationJob</string>
	<key>PROJECT_ID</key>
	<string>application-job-eff9c</string>
	<key>STORAGE_BUCKET</key>
	<string>application-job-eff9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272601085394:ios:b159ccf0653a14e1d1c40b</string>
</dict>
</plist>